* {
  box-sizing: border-box;
}

body {
  background-color: black;
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  max-width: 2500px;
  margin: 0 auto;
}

.spacer {
  height: 100vh;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 33.3vh;
  width: 100vw;
  margin: 0 auto;
}

.image-cont {
  position: absolute;
  overflow: hidden;
  height: 80vh;
  max-height: 500px;
}

.image-cont:nth-child(1) {
  grid-column: 1/-1;
  grid-row: 1;
  height: 95vh;
}

.image-cont:nth-child(2) {
  grid-column: 2 / span 8;
  grid-row: 2;
  height: 60vh;
}

.image-cont:nth-child(3) {
  grid-column: 4 / span 8;
  grid-row: 3;
  height: 60vh;
  img {
    object-position: right;
  }
}

.image-cont:nth-child(4) {
  grid-column: 1 / -1;
  grid-row: 4;
  height: 60vh;
}

.image-cont:nth-child(5) {
  grid-column: 4 / span 8;
  grid-row: 5;
  height: 80vh;
}

.image-cont:nth-child(6) {
  grid-column: 2 / span 8;
  grid-row: 6;
  height: 80vh;
}
