@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* .grid-bg {
  background-image:
    linear-gradient(to right, rgba(75, 85, 99, 0.35) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(75, 85, 99, 0.35) 1px, transparent 1px);
  background-size: 120px 100px;

  mask-image: radial-gradient(
    circle 400px at var(--x, 50%) var(--y, 50%),
    white 0%,
    transparent 90%
  );

  -webkit-mask-image: radial-gradient(
    circle 400px at var(--x, 50%) var(--y, 50%),
    white 0%,
    transparent 90%
  );
} */
